@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --basic: #212126;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--basic);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .h1 {
    @apply text-5xl leading-10;
  }

  .h2 {
    @apply text-2xl leading-8;
  }

  .h3 {
    @apply text-xl leading-7;
  }

  .h4 {
    @apply text-2xl leading-8 font-bold text-gray-900;
  }

  .h5 {
    @apply font-bold text-lg text-gray-900;
  }

  .regular {
    @apply font-normal text-base text-black;
  }
}
