[Unit]
Description=Loki Log Aggregation System
After=network.target

[Service]
ExecStart={{ loki_install_dir }}/loki -config.file={{ loki_config_path }}
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
